<ng-container *ngIf="currentPatient">
  <div class="flex flex-row justify-between">
    <h3 class="text-xl">
      Patient - {{ currentPatient.firstName }} {{ currentPatient.lastName }}
    </h3>
  </div>

  <div class="flex flex-col gap-4">
    <div class="flex flex-row gap-4 justify-between">
      <div class="flex flex-col gap-1">
        <b>General Data</b>
        <div class="flex flex-row gap-1">
          <b>Tax Code:</b>
          <p>{{ currentPatient.taxCode }}</p>
        </div>
        <div class="flex flex-row gap-1">
          <b>Email:</b>
          <p>{{ currentPatient.email }}</p>
        </div>
        <div class="flex flex-row gap-1">
          <b>Phone:</b>
          <p>{{ currentPatient.telephoneNumber }}</p>
        </div>
        <div class="flex flex-row gap-1">
          <b>Birthdate:</b>
          <p>{{ currentPatient.birthDate.iso | date: 'dd/MM/yyyy' }}</p>
        </div>
      </div>
      <div class="flex flex-col gap-1">
        <b>Residence</b>
        <div class="flex flex-row gap-1">
          <p>
            {{ currentPatient.residence.street }},
            {{ currentPatient.residence.number }}
          </p>
        </div>
        <div class="flex flex-row gap-1">
          <p>
            {{ currentPatient.residence.city }} ({{
              currentPatient.residence.province
            }})
          </p>
        </div>
        <div class="flex flex-row gap-1">
          <p>{{ currentPatient.residence.country }}</p>
        </div>
      </div>
      <div class="flex flex-col gap-1">
        <b>Domicile</b>
        <div class="flex flex-row gap-1">
          <p>
            {{ currentPatient.domicile.street }},
            {{ currentPatient.domicile.number }}
          </p>
        </div>
        <div class="flex flex-row gap-1">
          <p>
            {{ currentPatient.domicile.city }} ({{
              currentPatient.domicile.province
            }})
          </p>
        </div>
        <div class="flex flex-row gap-1">
          <p>{{ currentPatient.domicile.country }}</p>
        </div>
      </div>
    </div>

    <div class="flex flex-col">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
