<div class="w-full h-full bg-base-100">
  <div class="mt-6">
    <img src="assets/Logo.png" class="w-20 h-auto mx-auto" />
  </div>
  <ul class="menu bg-base-100 w-full p-2 rounded-box mt-8">
    <li>
      <a>
        <mat-icon>dashboard</mat-icon>

        Dashboard
      </a>
    </li>
    <li>
      <a>
        <mat-icon>domain</mat-icon>
        My Structure
      </a>
    </li>
    <li>
      <a>
        <mat-icon>groups_2</mat-icon>
        Staff
      </a>
    </li>
    <li>
      <a>
        <mat-icon>work_history</mat-icon>
        Shifts
      </a>
    </li>
  </ul>
</div>
